/* Coolors Exported Palette - coolors.co/e8eef2-db504a-9b9b93-39393a-63b0cd */

/* HSL */
$color1: hsla(204%, 28%, 93%, 1);
$color2: hsla(2%, 67%, 57%, 1);
$color3: hsla(60%, 4%, 59%, 1);
$color4: hsla(240%, 1%, 23%, 1);
$color5: hsla(196%, 51%, 60%, 1);

/* RGB */
$color1: rgba(232, 238, 242, 1);
$color2: rgba(219, 80, 74, 1);
$color3: rgba(155, 155, 147, 1);
$color4: rgba(57, 57, 58, 1);
$color5: rgba(99, 176, 205, 1);

h1